.bg-img {
    background-image: url("../../../public/images/Mask group (1).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .bg-img-tes {
    background-image: url("../../../public/images/Ellipse 15.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }