.pink-div {
  background: #ffd1b7;
  width: 6.375rem;
  height: 10rem;
  margin-bottom: 1rem;
  margin-top: -6rem;
}
.pink1-div {
  background: #e6c4c8;
  width: 6.375rem;
  height: 6rem;
  margin-bottom: 1rem;
}
.pink4-div {
  background: #d5bbd4;
  width: 6.375rem;
  height: 2rem;
  margin-bottom: 0.7rem;
}

@media (max-width: 1440px) {
  .pink-div {
    background: #ffd1b7;
    width: 7rem;
    height: 12rem;
    margin-bottom: 1rem;
    margin-top: -6rem;
  }
  .pink1-div {
    background: #e6c4c8;
    width: 7rem;
    height: 6rem;
    margin-bottom: 1rem;
  }
  .pink4-div {
    background: #bcaee4;
    width: 7rem;
    height: 2rem;
    margin-bottom: 0.7rem;
  }
}

@media (max-width: 600px) {
  .pink-div {
    background: #ffd1b7;
    width: 7rem;
    height: 8rem;
    margin-bottom: 1rem;
    margin-top: -6rem;
  }
  .pink1-div {
    background: #e6c4c8;
    width: 7rem;
    height: 4rem;
    margin-bottom: 1rem;
  }
  .pink4-div {
    background: #bcaee4;
    width: 7rem;
    height: 2rem;
    margin-bottom: 0.7rem;
  }
}
